
body, html {
  height: 100%;
  font-size: large;
}

.bg { 
  /* The image used */
  background-image: url("https://www.bing.com/th?id=OHR.AdelaideVineyard_ROW9638552129_1920x1080.jpg&amp;rf=LaDigue_1920x1080.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.admin{ 
  color: white;
  font-weight: bold;
  /* The image used */
  background-image: url("amir.jpg");
  background-size: cover;
  background-attachment: fixed;

  /* Full height */
  height: 100%; 


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}