{% load static %}
<link rel="stylesheet" href="{% static  'bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'welcome.css' %}">
<script>
  function mf()
  {
    alert()
  }
</script>

<!-- <link rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous"> -->
<body>
<div class="bg">

  <center style="margin: auto;">
    <h1 style="color:blueviolet ; font-weight:bold"> Welcome You </h1>
    <h4 style="font-weight: bold;">My Name is Amir</h4>
      <table class="table table-striped" style="font-size:large ;  font-weight: 800; color:green">
        <thead>
          <th>
            VIDEOS :
          </th>
        </thead>
        <thead>
          <tr>
            <th></th>
            <!-- <th scope="col"><a href="">Films </a></th> -->
            <th scope="col">Caption</th>
            <th>publisher</th>
            <th scope="col">Video</th>9
            <th style="color:red">likes</th>
            <th></th>
          </tr>
        </thead>
        
          {% for video in videos %}
          <tr>
            <td>#</td>
            <td>{{video.caption}}</td>
            <td>{{video.user}}</td>
            <td><div><video src="{{video.videoFile.url}}" style="width: 60;"></video></div></td>
            <td style="color:red" >{{video.likes}}</td>
          </tr>
          {% endfor %}
       
         
        
      </table>
      
      <table class="table table-striped" style="font-size:large ;  font-weight: 800; color:green">
        <thead>
          <th>GALLERY :</th>
        </thead>
        <thead>
          <tr>
            <th>#</th>
           
            <th scope="row">publisher</th>
            <th scope="col">Name</th>
            <th></th>
            <th scope="col">Image</th>
            <th style="color:red">likes</th>
          </tr>
        </thead>
        
        {% for image in gallery%}
        <tr>

          <!-- <th scope="row" ><div id="counterImage"></div></th> -->
          <td>#</td>
          <td>{{ image.user.username}}</td>
          <td>{{ image.caption}}</td>
          <td> </td>
          <td><div onclick="sendlike()"><img src="{{ image.image.url }} " alt="{{ image.caption}}" style="width: 40; height:auto" /></div></td>
          <td style="color:red" >{{image.likes}}</td>
          <td></td>
          <!-- <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td> -->
       
        </tr>
        {%endfor%}


      </table>
  </center>

</div>

</body>